
.DS_Store
/compiler/AleAntlr3Grammar/aleGrammar/ALELexer.java
/compiler/AleAntlr3Grammar/aleGrammar/ALEParser.java
/compiler/AleAntlr3Grammar/aleGrammar/FTLCheckIdentifiers_FTLSurface.java
/compiler/AleAntlr3Grammar/aleGrammar/FTLCheckIdentifiersLexer.java
/compiler/AleAntlr3Grammar/aleGrammar/FTLCheckIdentifiersParser.java
/compiler/AleAntlr3Grammar/aleGrammar/FTLExpandTraits_FTLSurface.java
/compiler/AleAntlr3Grammar/aleGrammar/FTLExpandTraitsLexer.java
/compiler/AleAntlr3Grammar/aleGrammar/FTLExpandTraitsParser.java
/compiler/AleAntlr3Grammar/aleGrammar/FTLReorderToplevels_FTLSurface.java
/compiler/AleAntlr3Grammar/aleGrammar/FTLReorderToplevelsLexer.java
/compiler/AleAntlr3Grammar/aleGrammar/FTLReorderToplevelsParser.java
/compiler/AleAntlr3Grammar/aleGrammar/FTLSyntax_FTLSurface.java
/compiler/AleAntlr3Grammar/aleGrammar/FTLSyntaxLexer.java
/compiler/AleAntlr3Grammar/aleGrammar/FTLSyntaxParser.java
/compiler/*.tokens
*.class
/superconductorjs/node_modules/