{% if page.section == 'home' %}
  {% assign home_button_class = 'active' %}
{% elsif page.section == 'about' %}
    {% assign about_button_class = 'active' %}
{% elsif page.section == 'getit' %}
  {% assign getit_button_class = 'active' %}
{% elsif page.section == 'demos' %}
  {% assign contact_button_class = 'active' %}
{% elsif page.section == 'docs' %}
    {% assign documents_button_class = 'active' %}
{% endif %}

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="{{ site.url }}">Superconductor</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <!-- <li class="{{ home_button_class }}"><a href="{{ site.url }}index.html">Home</a></li> -->
          <li class="{{ about_button_class }}"><a href="{{ site.url }}about/">About</a></li>
          <li class="{{ getit_button_class }}"><a href="{{ site.url }}getit/">Get It</a></li>
          <li class="{{ contact_button_class }}"><a href="{{ site.url }}demos/">Examples</a></li>
          <li class="{{ documents_button_class }}"><a href="{{ site.url }}docs/">Documentation</a></li>
          <li class="{{ documents_button_class }}"><a href="https://groups.google.com/forum/?hl=en#!forum/sc-lang">Discuss</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>